# Exclude everything by default
*
*/

# But include these specific files/folders
!.gitignore
!README.md
!LICENSE
!model_training/
!.git/

# Within model_training, only include notebooks
model_training/*
!model_training/*.ipynb

# Exclude all other content
TBX11K/
annotations/
imgs/
lists/
code/
assets/
.ipynb_checkpoints/
__pycache__/
*.pyc
